section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.carte,
.semaine,
.album-card,
.ajout-form {
  background: var(--bg-card);
  color: var(--text-card);
  border-radius: 18px;
  padding: 1em;
  margin: 0.8em auto;
  width: 90%;
  max-width: 280px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.carte:hover,
.album-card:hover,
.ajout-form:hover {
  transform: scale(1.02);
}


header {
  background: var(--bg-header);
  color: var(--text-header);
}

header h1,
header h2,
header h3,
header span,
header i {
  color: var(--text-header);
}